.form-item-QueryType .QueryTypeHelp
{
    display:none;
    color:#F00;
}

.form-item-QueryType:hover .QueryTypeHelp
{
    display:block;
}

.QueryTypeHelp
{
    color:blueviolet;
}

#edit-targetdatatype .form-radio
{
    display:inline;
}