.form-item-QueryType .QueryTypeHelp
{
    display:none;
    color:#F00;
}

.form-item-QueryType:hover .QueryTypeHelp
{
    display:block;
}

.QueryTypeHelp
{
    color:blueviolet;
}

#edit-targetdatatype .form-radio
{
    display:inline;
}

#typeSelect
{
    background-color:#FAF;
    position:inherit;
    width: 50%;
    float:left;
}

#queryType
{
    background-color:#FFA;
    position:inherit;
    width: 50%;
    float:left;
}

#targetSelect
{
    background-color:#AFF;
    position:inherit;
    width:100%;
    float:left;
}

#otherTargetArea
{
    background-color:#FAF;
    position:inherit;
    width:100%;
    float:left;
}

#advancedArea
{
    background-color:FFA;
    position:inherit;
    width:100%;
    float:left;
}

#submitArea
{
    background-color:AFF;
    position:inherit;
    width:100%;
    float:left;
}

.db_unreadable
{
    color:orange;
    font-weight:bold;
}

.db_missing
{
    color:red;
    font-weight:bold;
}

.db_status_unknown
{
    color:#999999;
    font-style:italic;
}